<v-navigation-drawer v-model="drawer" color="#1E2023" mini-variant app>
  <v-list dense>
    <v-list-item class="ml-n2 mt-n3">
      <v-list-item-avatar size="45">
        <v-img src="/images/logoDark.png"></v-img>
      </v-list-item-avatar>
    </v-list-item>
  </v-list>
  <v-list dense>
    <v-tooltip v-for="(route, i) in routes" :key="i" right>
      <template v-slot:activator="{ on, attrs }">
        <v-list-item dense v-bind="attrs" v-on="on" :href="route.to" link>
          <v-list-item-icon>
            <v-icon>{{ route.icon }}</v-icon>
          </v-list-item-icon>
        </v-list-item>
      </template>
      <span>{{ route.title }}</span>
    </v-tooltip>
  </v-list>
</v-navigation-drawer>