<!-- Import vue and vue material designs -->
<script src="/script/vue.js"></script>
<script src="/script/vuetify.js"></script>
<script src="/script/vuesax.min.js"></script>

<!-- import grapesjs -->
<script src="/script/grapes.min.js"></script>

<!-- Import ace editor -->
<script src="/script/ace/src-min/ace.js"></script>
<script src="/script/ace/src-min/mode-html.js"></script>
<script src="/script/emmet.js"></script>
<script src="/script/ace/src-min/ext-emmet.js"></script>
<script src="/script/ace/src-min/ext-language_tools.js"></script>
<script src="/script/ace/src-min/ext-elastic_tabstops_lite.js"></script>

<!-- import reload -->
<script src="/reload/reload.js"></script>

<script src="/script/footer.js"></script>

</body>

</html>