<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="/style/lib/icon/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="/style/lib/vuetify.min.css" rel="stylesheet">
  <link href="/style/lib/roboto.css" rel="stylesheet">
  <link href="/style/lib/vuesax.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/style/css/template.css">
  <title>Railer</title>
</head>
<body>