<v-dialog v-model="logginDialog" persistent width="400">
  <v-card class="rounded-xl">
    <v-img class="d-flex justify-center align-start" src="/images/blob.svg">
      <v-toolbar dense flat color="transparent">
        <v-spacer></v-spacer>
        <v-btn @click="logginDialog = false" icon>
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-title class="d-flex justify-center align-center mx-auto mb-0 py-0">Sign in</v-card-title>
      <p class="text-caption text-center">Please complete the for to loggin</p>
    </v-img>

    <v-card-text class="mt-2">
      <vs-input v-model="email" large color="#ffffff" type="email" block label-placeholder="Email" primary>
        <template #icon>
          <v-icon small>mdi-email-variant</v-icon>
        </template>
      </vs-input>
      <vs-input v-model="password" large color="#ffffff" class="mt-5" type="password" block label-placeholder="Password"
        primary>
        <template #icon>
          <v-icon small>mdi-lock-outline</v-icon>
        </template>
      </vs-input>
    </v-card-text>
    <v-card-text class="d-flex justify-end align-center py-0">
      <a class="text-decoration-none" href="/auth/forgotPassword">Forgot password?</a>
    </v-card-text>
    <v-card-actions>
      <vs-button color="#6200EA" size="small" block>
        <v-icon left>mdi-login-variant</v-icon> <span class="text-body-2">Sign in</span>
      </vs-button>
    </v-card-actions>
  </v-card>
</v-dialog>