<v-dialog v-model="signupDialog" persistent width="400">
  <v-card class="rounded-xl">
    <v-toolbar dense flat color="transparent">
      <v-spacer></v-spacer>
      <v-btn @click="signupDialog = false" plain icon>
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-toolbar>
    <v-card-title class="d-flex justify-center align-center mx-auto mb-0 py-0">Sign Up</v-card-title>
    <p class="text-caption text-center">Please complete the for to register</p>

    <v-card-text class="mt-10">
      <vs-input v-model="email" large color="#ffffff" type="text" block label-placeholder="Email" primary>
        <template #icon>
          <v-icon small>mdi-account-outline</v-icon>
        </template>
      </vs-input>
      <vs-input v-model="email" large color="#ffffff" class="mt-5" type="email" block label-placeholder="Email" primary>
        <template #icon>
          <v-icon small>mdi-email-variant</v-icon>
        </template>
      </vs-input>
      <vs-input v-model="password" large color="#ffffff" class="mt-5" type="password" block label-placeholder="Password"
        primary>
        <template #icon>
          <v-icon small>mdi-lock-outline</v-icon>
        </template>
      </vs-input>
    </v-card-text>
    <v-card-text class="d-flex justify-space-between align-center py-0">
      <v-btn @click="gotoLoggin" class="text-capitalize" plain small text>Already have an account?</v-btn>
    </v-card-text>
    <v-card-actions>
      <vs-button color="#6200EA" size="small" block>
        <v-icon left>mdi-location-enter</v-icon> <span class="text-body-2">Sign in</span>
      </vs-button>
    </v-card-actions>
  </v-card>
</v-dialog>