<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="/style/lib/roboto.css" rel="stylesheet">
  <link href="/style/lib/icon/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="/style/lib/vuetify.min.css" rel="stylesheet">
  <link href="/style/lib/grapes.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/style/css/main.css">
  <link rel="stylesheet" href="/style/css/template.css">
  <title>Railer</title>
</head>

<body>
  <v-app id="main">
    {{>_header}}
    {{>_drawer}}
    <v-main>
      <v-container class="pa-0" fluid>
        {{{body}}}
      </v-container>
    </v-main>
  </v-app>

  {{!-- Import grapes --}}
  <script src="/script/grapes.min.js"></script>

  {{!-- Import ace scripts --}}
  <script src="/script/ace/src-min/ace.js"></script>
  <script src="/script/ace/src-min/mode-javascript.js"></script>
  <script src="/script/ace/src-min/ext-emmet.js"></script>
  <script src="/script/ace/src-min/ext-language_tools.js"></script>

  <script src="/script/vue.js"></script>
  <script src="/script/vuetify.js"></script>

  <script src="/reload/reload.js"></script>
  <script>
    new Vue({
      el: '#main',
      data: {
        drawer: true,
        routes: [
          { title: 'Template', icon: 'mdi-view-dashboard', to: '/template', location: window.location.pathname },
          { title: 'Copy', icon: 'mdi-content-copy', to: '/copy', location: window.location.pathname },
          { title: 'Email editor', icon: 'mdi-view-compact', to: '/emailEditor', location: window.location.pathname },
          { title: 'Compose template', icon: 'mdi-code-json', to: '/codeEditor', location: window.location.pathname },
        ],
      },
      vuetify: new Vuetify({
        theme: { dark: true },
      }),
    })

    if (window.location.pathname == "/codeEditor") {
      let codeEditor = ace.edit("editorCode")

      let editorLib = {
        init() {
          codeEditor.setTheme("ace/theme/dracula")

          codeEditor.session.setMode("ace/mode/html")

          codeEditor.setOptions({
            fontFamily: 'Victor mono',
            fontSize: '11pt',
            enableBasicAutocompletion: true,
            enableLiveAutocompletion: true,
            enabeEmmet: true
          })
        }
      }
      editorLib.init()
    }

    if (window.location.pathname == "/emailEditor") {
      const editor = grapesjs.init({
        container: "#gjs",
      });
    }
  </script>
</body>

</html>