<v-card-title class="d-flex justify-center align-center text-h4 white--text">
  Password recover
</v-card-title>

<v-form>
  <v-text-field outlined dense prepend-inner-icon="mdi-email-variant" color="deep-purple accent-4" label="Email"
    type="email" required>
  </v-text-field>

  <div class="d-flex justify-space-between align-center mb-6">
    <a class="text-decoration-none indigo--text text--accent-3 text-caption" href="/signup">Don't have an account?</a>
  </div>

  <v-btn block dark depressed color="deep-purple accent-4">
    Sign in
  </v-btn>
</v-form>