<v-card-title class="d-flex justify-center align-center">
  <v-avatar size="60">
    <v-icon class="grey--text text--darken-4" size="35">mdi-book-open-page-variant</v-icon>
  </v-avatar>
  <span class="text-h4">StoryBooks</span>
</v-card-title>

<v-card-text>Create public and private stories from your life</v-card-text>

<v-card-text>
  <v-btn href="/auth/google" dark depressed color="red" class="text-capitalize">
    <v-icon left>mdi-google</v-icon>
    Log In With Google
  </v-btn>
</v-card-text>