<%- include('../partials/header') %>
<v-app id="railerCodeEditor">
  <%- include('../partials/appbar') %>
  <%- include('../partials/drawer') %>
  <v-main>
    <v-container fluid class="pa-0">
      <v-sheet height="93vh" class="codeEditorContainer">
        <v-row no-gutters justify="space-between" align="start" style="width: 100%; height: 100%">
          <v-col cols="12" sm="6" style="width: 100%; height: 100%">
            <div style="width: 100%; height: 100%" class="codeEditorClass" id="codeEditor"></div>
          </v-col>
          <v-col cols="12" sm="6" style="width: 100%; height: 100%">
            <v-sheet flat color="white" class="grey--text text--darken-4 overflow-auto" width="100%" height="100%" v-html="html"></v-sheet>
          </v-col>
        </v-row>
      </v-sheet>
    </v-container>
  </v-main>
</v-app>
<%- include('../partials/footer/codeEditorfooter') %>