<%- include('../partials/header') %>
<v-app id="emailEditor">
  <%- include('../partials/appbar') %>
  <%- include('../partials/drawer') %>
  <v-main>
    <v-container class="pa-0" fluid>
      <v-container class="pa-0" fluid>
        <v-sheet height="93vh" class="emailEditorContainerSheet">
          <div id="gjs"></div>
        </v-sheet>
      </v-container>
    </v-container>
  </v-main>
</v-app>
<%- include('../partials/footer/emailEditorfooter') %>