<%- include('../partials/header') %>
<v-app id="copy">
  <%- include('../partials/appbar') %>
  <%- include('../partials/drawer') %>
  <v-main>
    <v-container fluid>
      <v-container fluid class="copy">
        <h1>preview design</h1>
      </v-container>
    </v-container>
  </v-main>
</v-app>
<%- include('../partials/footer/previewDesignFooter') %>