
          <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
          <html>
            <head>
              <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            </head>
            <body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"><style type="text/css">
          div.preheader 
          { display: none !important; } 
          </style>
          <div class="preheader" style="font-size: 1px; display: none !important;">Extra treat: spend $70+, get a FREE travel size primer</div>
              <img src="http://click.probeauty.makeupforever.com/open.aspx?ffcb10-fed415737464077e-fe5a1d737365067d721d-fe8a13727c61007a76-ff961075-fe54177976610d787317-ff64107577" width="1" height="1">
          
              <table width="640" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#000000">
                <tr>
                  <td>
                    <a href="http://click.probeauty.makeupforever.com/?qs=e0cf0846bda8ff7bb585eb980aca9a5a2110555495427998a42de808bee8b9ffa4fae91b9fb33b5c1e509ea1954dbc44b186ba39e1d22793" target="_blank"><img src="http://image.probeauty.makeupforever.com/lib/fe8a13727c61007a76/m/1/5753cab0-e6f9-4822-94c9-d9eb4973c154.png" width="481" height="88" alt="MAKE UP FOR EVER" style="display: block"></a>
                  </td>
                  <td>
                    <a href="http://click.probeauty.makeupforever.com/?qs=e0cf0846bda8ff7b7345827dd6d74787c009b37b991978c1cc1e6d571b50e749f84175b36ae8f262518fbc33decff83f9a48d43d3b6290d3" target="_blank"><img src="http://image.probeauty.makeupforever.com/lib/fe8a13727c61007a76/m/1/9e767a42-cd56-4efa-bc7c-45018ae9453f.png" width="80" height="88" alt="PRODUCTS" style="display: block"></a>
                  </td>
                  <td>
                    <a href="http://click.probeauty.makeupforever.com/?qs=e0cf0846bda8ff7bd4195ab445a48ef7b890118e24bcc6743a80a1dd0f89e20e807c6a6169e1f2f04c9e339da2d8af57320559395af90f64" target="_blank">
                      <img src="http://image.probeauty.makeupforever.com/lib/fe8a13727c61007a76/m/1/74803e7e-3fea-4e69-9e07-82b39f9f0546.png" width="79" height="88" alt="STORES" style="display: block"></a>
                  </td>
                </tr>
              </table>
          
              <table width="640" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="131313">
                <tr>
                  <td>
                    <a href="http://click.probeauty.makeupforever.com/?qs=e0cf0846bda8ff7bb585eb980aca9a5a2110555495427998a42de808bee8b9ffa4fae91b9fb33b5c1e509ea1954dbc44b186ba39e1d22793" target="_blank">
                      <img src="http://image.probeauty.makeupforever.com/lib/fe8a13727c61007a76/m/1/8da42d16-19ff-4aaf-93f5-c94fb0e8f5d3.jpg?b=1523462106000" alt="Friends & Family Sale. Shop now." style="display: block">
                    </a>
                  </td>
                </tr>
              </table>
          
           <table width="640" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="131313">
            <tr>
             <td>
              <td width="320">
               <a href="http://click.probeauty.makeupforever.com/?qs=e0cf0846bda8ff7bb585eb980aca9a5a2110555495427998a42de808bee8b9ffa4fae91b9fb33b5c1e509ea1954dbc44b186ba39e1d22793" target="_blank">
                <img src="http://image.probeauty.makeupforever.com/lib/fe8a13727c61007a76/m/1/81d541b6-fefb-48bb-945c-f0c82648872f.jpg?b=1522864515000" alt="Shop the Friends & Family Sale." style="display: block">
               </a>      
              </td>
              <td width="320">
               <a href="http://click.probeauty.makeupforever.com/?qs=e0cf0846bda8ff7b44ee5103573a0043e4c481558742f3ca038993d7a6a17ecfe948e4f17b9c0bfbe79fd54320a08dc4e77f86e74a3c6c4b" target="_blank">
                <img src="http://image.probeauty.makeupforever.com/lib/fe8a13727c61007a76/m/1/0f1ef11d-61d7-4b12-a20a-91b63cf30124.jpg?b=1522864515000" alt="Find a Store" style="display: block">
               </a>      
              </td>   
             </td>
            </tr>
           </table>
           
              <table width="640" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="131313">
                <tr>
                  <td>
                    <a href="http://click.probeauty.makeupforever.com/?qs=e0cf0846bda8ff7bb585eb980aca9a5a2110555495427998a42de808bee8b9ffa4fae91b9fb33b5c1e509ea1954dbc44b186ba39e1d22793" target="_blank">
                      <img src="http://image.probeauty.makeupforever.com/lib/fe8a13727c61007a76/m/1/2a2d88dc-6bb8-4ad3-ade3-f2e0c2e891a9.jpg?b=1522864516000" alt="Ends April 12th." style="display: block">
                    </a>
                  </td>
                </tr>
              </table>
           
              <table width="640" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#131313">    
                <tr>
                  <td>
                    <a href="http://click.probeauty.makeupforever.com/?qs=e0cf0846bda8ff7b6f70a1c42f4b4d8075389412d131a0052e3e65d64e2f943ba73e897274f6ece51737cdf413902fc3df866e99525debe7" target="_blank" dataminingname="FAQ"><img src="http://image.probeauty.makeupforever.com/lib/fe8a13727c61007a76/m/1/5c462c79-8785-4e8c-82c9-2cb7a8d17808.png" width="260" height="44" alt="FAQ" style="display: block"></a>
                  </td>
                  <td>
                    <a href="http://click.probeauty.makeupforever.com/?qs=e0cf0846bda8ff7bdf494a8b8b365550ca83b1d5bbc5db243df343639e8d567a0fe8684e7f79da0c93b26dc7301aa338a076526175809f49" target="_blank" dataminingname="CONTACT US"><img src="http://image.probeauty.makeupforever.com/lib/fe8a13727c61007a76/m/1/fba0aee5-38e0-4c79-9eb9-f826683e8955.png" width="100" height="44" alt="CONTACT US" style="display: block"></a>
                  </td>
                  <td>
                    <a href="http://click.probeauty.makeupforever.com/?qs=e0cf0846bda8ff7ba9ba1165908a38e9842ab5139762b142dffff9f706e8998d842f03bbbc25c5903aa8b31e1430691e7905b989b0404c2b" target="_blank" dataminingname="PRO ONLY">
                      <img src="http://image.probeauty.makeupforever.com/lib/fe8a13727c61007a76/m/1/74eceb3a-a549-4d1f-b8ae-f0f8fdbaec31.png" width="280" height="44" alt="PRO ONLY" style="display: block"></a>
                  </td>
                </tr>
              </table>
              <table width="640" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#131313">
                <tr>
                  <td width="99">
                    <img src="http://image.probeauty.makeupforever.com/lib/fe8a13727c61007a76/m/1/b93eb3cb-efb6-4c36-ab66-ffcb0626d5f0.png" width="291" height="44" alt="follow us on" style="display: block">
                  </td>
                  <td width="38">
                    <a href="http://click.probeauty.makeupforever.com/?qs=e0cf0846bda8ff7b3eea9cf6bcc706603cfd9e2d75b75b9a221e2382a82b846b042f94557822bf3431ab1bc7a3d20b3b3489eaeb2a744c80" target="_blank" dataminingname="Facebook">
                      <img src="http://images.mperf.com/images/Clients/m/MakeUpForever/20170512_kawaii/NL_Trendonair_kawaiibeauty_24.gif" width="39" height="44" alt="Facebook" style="display: block"></a>
                  </td>
                  <td width="38">
                    <a href="http://click.probeauty.makeupforever.com/?qs=e0cf0846bda8ff7bdf0a01d0b6be304c09a09ec1bfdb6d7dce9fb162d7171cf3a2a0f6a5306af411fd48d839e69b4d59b7f6c9310937791f" target="_blank" dataminingname="Instagram"><img src="http://images.mperf.com/images/Clients/m/MakeUpForever/20170512_kawaii/NL_Trendonair_kawaiibeauty_25.gif" width="36" height="44" alt="Instagram" style="display: block"></a>
                  </td>
                  <td width="38">
                    <a href="http://click.probeauty.makeupforever.com/?qs=e0cf0846bda8ff7b52414621332eec98510e503423f98704442b12370934315832886752014d8c1f39d22c998e45ccec24d702cdef34dd38" target="_blank" dataminingname="Youtube"><img src="http://images.mperf.com/images/Clients/m/MakeUpForever/20170512_kawaii/NL_Trendonair_kawaiibeauty_26.gif" width="37" height="44" alt="Youtube" style="display: block"></a>
                  </td>
                  <td width="199" bgcolor="#131313">
                    <img src="http://images.mperf.com/images/Clients/m/MakeUpForever/20170512_kawaii/NL_Trendonair_kawaiibeauty_27.gif" width="237" height="44" alt="Follow us On" style="display: block">
                  </td>
                </tr>
              </table>
              <table width="640" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#131313">
                <tr>
                  <td align="center">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">        
              <!-- FOOTER CONTENT -->
              <tr>
                  <td align="center" valign="top" width="100%">
                  <table class="container" cellpadding="0" cellspacing="0" width="600">
                      <tr>
                          <td align="center" style="font-family: arial; font-size: 10px; color: #666666; background-color: inherit; text-align: center; padding:10px 0px 10px 0px;">                
                         You are receiving this email because you signed up with MAKE UP FOR EVER Online and asked us to contact you about new products, seasonal looks, and exclusive event invitations. If you do not wish to receive these types of emails
                          <a href="http://click.probeauty.makeupforever.com/?qs=e0cf0846bda8ff7ba15f1714803a403465e61cd1f3664bc187c09cbc357dde9482d6d2687bcd8ab7e415c42815d0446809d559327f5f9dc8"  target="_blank" style="color:#666666; text-decoration: underline;">please click here to unsubscribe.</a>
                          </td>
                      </tr>
                      <tr>
                          <td align="center" style="font-family: arial; font-size: 10px; color: #666666; background-color: inherit; text-align: center; padding:10px 0px 10px 0px;">
                          This email was sent by MAKE UP FOR EVER 841 Broadway, New York, NY, 10003 USA               
                          </td>
                      </tr>
                  </table>
                  </td>
              </tr> 
          </table>
                  </td>
                </tr>
              </table>
              <table width="640" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="640" height="auto" align="center">
                    <font size="1" face="Arial" color="#666666">
                      Please remember to add info@makeupforeverusa.com to your address book to continue receiving our emails in your mailbox.
                      <br>
                      Having trouble reading this email? To view this email as a web page, click 
                      <a href="http://view.probeauty.makeupforever.com/?qs=a9db6ef5d90e805bd16b42a964d8d8c12d4916f91775597cf265fcf92a0e05f88b2041d40356ef53e74c3df90b1f0ba7dad3daf8e6850e2310c2a73430009c5dc359199171c9a0a4">here.</a>
                    </font>
                  </td>
                </tr>
              </table> 
            </body>
          </html>
          
                  