.cards {
  width: 100%;
  column-count: 6;
  column-gap: 1;
}

.cardsMobile {
  width: 100%;
  column-count: 1;
  column-gap: 1;
}

.cardsTab {
  width: 100%;
  column-count: 4;
  column-gap: 1;
}

.cardsIpadPro {
  width: 100%;
  column-count: 4;
  column-gap: 1;
}

.cardsLargeScreens {
  width: 100%;
  column-count: 6;
  column-gap: 1;
}

.cardsExtraLargeScreens {
  width: 100%;
  column-count: 7;
  column-gap: 1;
}

.card {
  width: 100%;
  height: auto;
  break-inside: avoid;
  position: relative;
}

#gjs {
  border: none;
}

.v-card--reveal {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.v-navigation-drawer {
  border-radius: 0;
}

.appbar {
  background-color: #1E2023 !important;
}

.vs-input {
  background: #141417;
  color: #fff;
}

.vs-input__icon {
  background: #121212;
}

.vs-input:focus {
  background: #141417;
}

.vs-input:focus~.vs-input__icon {
  background: #6200EA;
  box-shadow: 20px 20px 60px #141518,
    -20px -20px 60px #1c1d20;
}

.vs-input-content {
  width: 100%;
}

.vs-input {
  width: 100%
}

.v-dialog {
  border-radius: 20px;
  overflow-x: hidden;
}

#gjs {
  width: 100%;
  height: 100%
}