.cards {
  width: 100%;
  column-count: 6;
  column-gap: 1;
}

.cardsTab {
  width: 100%;
  column-count: 4;
  column-gap: 1;
}

.cards .card {
  width: 100%;
  height: auto;
  break-inside: avoid;
  position: relative;
}

.cards .overlay {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: #1e1e1e;
}

.cards .card:hover .overlay {
  display: initial;
}
