.cards {
  width: 100%;
  column-count: 6;
  column-gap: 1;
}

.cardsTab {
  width: 100%;
  column-count: 4;
  column-gap: 1;
}

.cards .card {
  width: 100%;
  height: auto;
  break-inside: avoid;
  position: relative;
}

#gjs {
  border: none;
}

.v-card--reveal {
  bottom: 0;
  position: absolute;
  width: 100%;
}